---
import Dot from "./Dot.astro";

const {
  class: customClass,
  idx: slideId,
  length,
  ...rest
} = Astro.props;
---

{
  length !== 1 ? (
    <div class={customClass} {...rest} data-id={slideId}>
      {Array.from({ length }).map((_, i) => (
        <Dot
          i={i}
          class={i === 0 ? "active" : ""}
          onclick={`slideNext('${slideId}', ${i})`}
        />
      ))}
    </div>
  ) : null
}
