---
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const serviceData = await getCollection("services");
  return serviceData.map((service: any) => ({
    params: { slug: service.slug },
  }));
}

import { Image } from "astro:assets";

import Layout from "~/layouts/Layout.astro";
import Home from "~/assets/home.svg";
import LetsTalkBtn from "~/components/buttons/LetsTalk.astro";
import Container from "~/components/div/Container.astro";

const { slug } = Astro.params;
const serviceData = await getCollection("services");
const service = serviceData.find((s) => s.slug === slug) as any;

const { Content } = await service.render();
---

<Layout>
  <main
    class="relative flex h-100svh sm:h-[80svh] max-h-180 min-h-190 overflow-x-clip sm:max-h-350 sm:min-h-180"
  >
    <div class="bg-dark absolute inset-0 z-[-1]"></div>

    <Container
      as="div"
      class="flex items-center gap-6 text-white sm:flex-row sm:py-0 xl:gap-7 2xl:gap-9"
    >
      <div class="relative flex-1">
        <button
          class="text-accent-dark mb-3 flex cursor-pointer items-end gap-3"
          onclick=`window.location.href = '/#${slug}'`
        >
          <Home class="w-8 sm:w-9 xl:w-12" />
          <span
            class="font-sans mb-1 text-base leading-none font-bold">Go Back</span
          >
        </button>

        <h2 class="font-serif text-4xl font-bold text-balance">
          {service.data.title}
        </h2>

        <div
          class="-mr-inset my-4 ml-7 h-70 rounded-tl-md rounded-bl-md contain-paint sm:hidden"
        >
          {
            service.data.covers.map((img: any, _: number) => (
              <Image
                class="h-full min-w-0 flex-1 object-cover"
                src={img.src}
                alt={img.alt}
                loading="eager"
              />
            ))
          }
        </div>

        <p class="text-bg mt-2 font-sans xl:mt-4">
          {service.data.description}
        </p>
      </div>

      <div class="hidden flex-1 sm:flex">
        <div
          class="flex h-[60vh] max-h-175 min-h-130 justify-evenly rounded-md contain-paint"
        >
          {
            service.data.covers.map((img: any, _: number) => (
              <Image
                class="h-full min-w-0 flex-1 object-cover hover:flex-5"
                src={img.src}
                alt={img.alt}
                data-safari-bad="transition-[flex-grow] duration-800"
                loading="eager"
              />
            ))
          }
        </div>
      </div>
    </Container>
  </main>

  <LetsTalkBtn />
  <Content />
</Layout>
