---
import Root from '@/layouts/Root.astro';

import * as Layout from '@/components/Layout';
import Home from '@/components/Home';
import Talk from '@/components/Talk';
import Image from '@/components/Image';

import { queryBlocks } from 'astro-frontmatter-components';
import { schema as reviewSchemas, seo as seoReviews } from '@/sections/Reviews.astro';
import { schema as pricesSchemas, seo as seoPrices } from '@/sections/Prices.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
export const prerender = true;

export const seo = async (Astro: Astro, service: CollectionEntry<'services'>) => {
	const reviews = queryBlocks(service.data.sections, reviewSchemas);
	const prices = queryBlocks(service.data.sections, pricesSchemas);

	return {
		'@type': 'Product',
		name: service.data.title,
		description: service.data.desc,
		url: `${Astro.url.origin}/services/${service.id.split('/')[0]}`,
		brand: {
			'@type': 'LocalBusiness',
			'@id': `${Astro.url.origin}#company`,
		},
		...(reviews.length > 0 && (await seoReviews(Astro, reviews))),
		...(prices.length > 0 && seoPrices(prices)),
		image: {
			'@type': 'ImageObject',
			url: `${Astro.url.origin}${service.data.image.src.src}`,
			description: service.data.image.alt,
		},
	};
};

export async function getStaticPaths() {
	return (await getCollection('services')).map((service: any) => ({
		params: { slug: service.id.split('/')[0] },
	}));
}

interface Props {
	slug?: string;
}

const { slug } = Astro.params;
const service = (await getCollection('services')).find((s) => s.id.split('/')[0] === slug);

if (!service) {
	console.error(`Failed to fetch: ${slug}`);
	return;
}
---

<Root
	title={service.data.title}
	desc={service.data.seo}
	blocks={service.data.sections}
	startPos={service.data.startPos ?? 'right'}
	schemas={await seo(Astro, service)}
>
	<section class="relative min-h-100 overflow-x-clip py-15 sm:h-[80vh] sm:max-h-170">
		<Layout.Container
			variant="outer"
			class="flex h-full flex-col gap-5 sm:flex-row sm:py-0 md:gap-8 xl:gap-12"
		>
			<span
				class="bg-accent absolute top-0 right-0 bottom-0 left-0 z-[-1] sm:left-[calc(50vw+10rem)] sm:rounded-bl-lg"
			>
			</span>

			<div class="contents flex-1 flex-col gap-3 sm:flex sm:justify-center">
				<div>
					<Home desc="Go back" class="mb-2" {slug} />
					<h1 class="heading-5xl">
						{service.data.title}
					</h1>
				</div>

				<div class="order-3">
					<p class="desc-base">
						{service.data.desc}
					</p>

					<Talk client:load />
				</div>
			</div>

			<Image
				class="order-2 aspect-video sm:w-1/2 sm:rounded-md"
				pos="left"
				image={service.data.image}
				widths={[400, 800, 1200]}
			/>
		</Layout.Container>
	</section>
</Root>
