---
import Root from '@/layouts/Root.astro';

import { Icon } from 'astro-icon/components';

import { cn } from '@/frontend/utils';
import { getCollection } from '@/content.config';
// import { generateServiceSchema } from '@/build/schemas/service';
import { Image } from '@/components/Image';

import Home from '@/components/Home';
import * as Layout from '@/components/Layout';
// import Footer from '@/sections/Footer.astro';
// import Menus from '@/components/modals/Menus.svelte';
import FluidTalk from '@/components/FluidTalk';

export const prerender = true;

export async function getStaticPaths() {
	return (await getCollection('services')).map((service: any) => ({
		params: { slug: service.id.split('/')[0] },
	}));
}

interface Props {
	slug?: string;
}

const { slug } = Astro.params;
const service = (await getCollection('services')).find((s) => s.id.split('/')[0] === slug)!;

// schemas={generateServiceSchema(Astro, service)}
---

<Root
	title={service.data.title}
	desc={service.data.seo}
	blocks={service.data.sections}
	startPos={service.data.startPos ?? 'right'}
>
	<section class="relative min-h-90 overflow-x-clip py-15 sm:h-[80vh] sm:max-h-170" slot="before">
		<Layout.Container
			variant="outer"
			class="flex h-full flex-col gap-5 sm:flex-row sm:py-0 md:gap-8 xl:gap-12"
		>
			<span
				class="bg-accent absolute top-0 right-0 bottom-0 left-0 z-[-1] sm:left-[calc(50vw+10rem)] sm:rounded-bl-lg"
			>
			</span>

			<div class="contents flex-1 flex-col gap-3 sm:flex sm:justify-center">
				<div>
					<Home desc="Go back" class="mb-2" {slug} />
					<h1 class="heading-5xl font-bold">
						{service.data.title}
					</h1>
				</div>

				<div class="order-3">
					<p class="desc-base">
						{service.data.desc}
					</p>

					<FluidTalk client:load />
				</div>
			</div>

			<Image
				class="order-2 aspect-[16/10] sm:w-1/2 sm:rounded-md"
				pos="left"
				image={service.data.image}
				widths={[400, 730]}
			/>
		</Layout.Container>
	</section>

	<Layout.Container variant="inner" slot="before">
		<Icon
			aria-hidden={true}
			is:inline
			name="arrow"
			class="h-auto w-15 -translate-y-1/2 rotate-90 xl:w-20"
		/>
	</Layout.Container>

	<!-- <Footer /> -->
	<!-- <Menus client:idle /> -->
</Root>
