---
import clsx from "clsx";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const serviceData = await getCollection("services");
  return serviceData.map((service: any) => ({
    params: { slug: service.slug },
  }));
}

import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Home from "~/components/em/Home.astro";

import Layout from "~/layouts/Layout.astro";
import LetsTalk from "~/components/inputs/LetsTalk.astro";
import Container, { ContainerVariant } from "~/components/div/Container.astro";
import Header, { HeaderVariant } from "~/components/nav/Header.astro";
import ServiceGallery from "~/components/nav/ServiceGallery.astro";
import { Pos } from "~/components/variants";

const { slug } = Astro.params;

const [index] = await getCollection("index");
const serviceData = await getCollection("services");
const service = serviceData.find((s) => s.slug === slug) as any;

const { Content } = await service.render();

function generateSchema(service: any) {
  const schema = {
    "@context": "https://schema.org",
    "@type": "Service",
    provider: {
      "@type": index.data.business.schema_type,
      name: index.data.business.name,
      url: Astro.url.origin,
    },
  };

  return schema;
}
---

<Layout>
  (
  <script
    slot="head"
    type="application/ld+json"
    set:html={JSON.stringify(generateSchema(service), null, 2)}
  />
  <main class="relative overflow-x-clip py-15 sm:h-170">
    <Container
      as="div"
      class="flex h-full items-center gap-6 sm:flex-row sm:py-0 xl:gap-7 2xl:gap-9"
    >
      <div
        class="bg-accent absolute top-0 right-0 bottom-0 left-0 z-[-1] rounded-bl-sm sm:left-[65vw]"
      >
      </div>
      <div class="flex-1">
        <Home slug={slug} />

        <h1 class="mb-2 font-serif text-5xl font-bold text-balance">
          {service.data.title}
        </h1>

        <div
          class="-mr-inset my-4 ml-7 flex h-65 rounded-tl-sm rounded-bl-sm contain-paint sm:hidden"
        >
          {
            service.data.covers.map((img: any, _: number) => (
              <Image
                class="min-w-0 flex-1 object-cover"
                src={img.src}
                alt={img.alt}
                width={2560}
                loading="eager"
              />
            ))
          }
        </div>

        <p class="font-sans text-base">
          {service.data.description}
        </p>
      </div>

      <div class="hidden h-full flex-1 sm:flex">
        <div class="flex justify-evenly rounded-sm contain-paint">
          {
            service.data.covers.map((img: any, _: number) => (
              <Image
                class={clsx(
                  `object-cover`,
                  service.data.covers.length > 1
                    ? `min-w-0 flex-1 hover:flex-5`
                    : ``,
                )}
                src={img.src}
                alt={img.alt}
                width={2560}
                {...(service.data.covers.length > 1 && {
                  "data-safari-bad": "duration-800",
                })}
                loading="eager"
              />
            ))
          }
        </div>
      </div>
    </Container>
  </main>
  <Container variant={ContainerVariant.Inner} as="div" class="relative">
    <div class="absolute bottom-0 translate-y-1/2">
      <Icon name="arrow-down" class="hidden h-auto w-8 sm:block xl:w-10" />
    </div>
  </Container>

  <!-- { -->
  <!--   service.data.header && ( -->
  <!--     <Header variant={HeaderVariant.Sticky} items={service.data.header.ref} /> -->
  <!--   ) -->
  <!-- } -->

  <LetsTalk />
  <Content />

  <ServiceGallery exclude={[slug]} id="gallery" class="!mb-0" />
</Layout>
