---
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const serviceData = await getCollection("services");
  return serviceData.map((service: any) => ({
    params: { slug: service.slug },
  }));
}

import { Image } from "astro:assets";

import Layout from "~/layouts/Layout.astro";
import Home from "~/assets/home.svg";
import LetsTalk from "~/components/buttons/LetsTalk.astro";
import Container from "~/components/div/Container.astro";
import Header from "~/components/nav/Header.astro";
import ServiceGallery from "~/components/nav/ServiceGallery.astro";
import Service from "~/components/nav/Service.astro";
import { Pos } from "~/components/variants";

const { slug } = Astro.params;

const serviceData = await getCollection("services");
const service = serviceData.find((s) => s.slug === slug) as any;

const { Content } = await service.render();
---

<Layout>
  <main
    class="h-100svh relative overflow-x-clip py-15 sm:flex sm:h-200"
  >
    <div class="bg-dark absolute inset-0 z-[-1]"></div>

    <Container
      as="div"
      class="flex gap-6 text-white sm:flex-row sm:items-center sm:py-0 xl:gap-7 2xl:gap-9"
    >
      <div class="relative flex-1">
        <button
          class="text-accent-dark mb-3 flex cursor-pointer items-end gap-3"
          onclick={`window.location.href = '/#${slug}'`}
        >
          <Home class="w-8 sm:w-9 xl:w-12" />
          <span class="mb-1 font-sans text-base leading-none font-bold"
            >Go Back</span
          >
        </button>

        <h2 class="font-serif text-5xl font-bold text-balance">
          {service.data.title}
        </h2>

        <div
          class="-mr-inset my-4 ml-7 h-70 rounded-tl-md rounded-bl-md contain-paint sm:hidden"
        >
          {
            service.data.covers.map((img: any, _: number) => (
              <Image
                class="h-full min-w-0 flex-1 object-cover"
                src={img.src}
                alt={img.alt}
                loading="eager"
              />
            ))
          }
        </div>

        <p class="text-bg mt-2 font-sans xl:mt-4">
          {service.data.description}
        </p>
      </div>

      <div class="hidden flex-1 sm:flex">
        <div
          class="flex h-[60vh] max-h-175 min-h-130 justify-evenly rounded-md contain-paint"
        >
          {
            service.data.covers.map((img: any, _: number) => (
              <Image
                class="h-full min-w-0 flex-1 object-cover hover:flex-5"
                src={img.src}
                alt={img.alt}
                data-safari-bad="transition-[flex-grow] duration-800"
                loading="eager"
              />
            ))
          }
        </div>
      </div>
    </Container>
  </main>

  <LetsTalk />

  {service.data.header && <Header sticky={true} items={service.data.header} />}

  <Content />

  <ServiceGallery
    title="We are capable of much more"
    titlePos={Pos.Left}
    id="gallery"
    class="!mb-0"
  >
    {
      serviceData
        .filter((service) => service.slug !== slug)
        .map((service: any, _) => (
          <Service data={service.data} slug={service.slug} />
        ))
    }
  </ServiceGallery>
</Layout>
