---
import clsx from "clsx";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const isProd = process.env.NODE_ENV === "production";
  const services = await getCollection(
    "services",
    (entry) => !isProd || !entry.data.draft,
  );

  return services.map((service: any) => ({
    params: { slug: service.slug },
  }));
}

import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Home from "~/components/e/Home.astro";

import Layout from "~/layouts/Layout.astro";
import LetsTalk from "~/components/inputs/LetsTalk.astro";
import Container, { ContainerVariant } from "~/components/div/Container.astro";
import ServiceGallery from "~/components/nav/ServiceGallery.astro";

const { slug } = Astro.params;
const { index, services } = Astro.locals;
const service = services.find((s) => s.slug === slug) as any;
const { Content } = await service.render();

function schema() {
  return {
    "@context": "https://schema.org",
    "@type": "Service",
    provider: {
      "@type": index.data.schema_type,
      "@id": `${Astro.url.origin}#company`,
      name: index.data.business.name,
      url: `${Astro.url.origin}${Astro.url.pathname}`,
      address: index.data.business.address,
    },
    serviceType: "Renovation",
    name: service.data.title,
    description: service.data.description,
    image: {
      "@type": "ImageObject",
      url: `${Astro.url.origin}${service.data.covers[0]?.src.src.split("?")[0] || null}`,
      description: service.data.covers[0]?.alt || null,
    },
  };
}
---

<Layout
  title={service.data.title}
  description={service.data.seo_description}
  generateSchema={schema}
>
  <main class="relative overflow-x-clip py-15 sm:h-170">
    <Container
      as="div"
      class="flex h-full items-center gap-6 sm:flex-row sm:py-0 xl:gap-7 2xl:gap-9"
    >
      <div
        class="bg-accent absolute top-0 right-0 bottom-0 left-0 z-[-1] rounded-bl-sm sm:left-[65vw]"
      >
      </div>

      <div class="flex-1">
        <Home description="Go back" slug={slug} />

        <h1 class="mb-2 font-serif text-5xl font-bold text-balance">
          {service.data.title}
        </h1>

        <div
          class="-mr-inset my-4 ml-7 flex h-65 rounded-tl-sm rounded-bl-sm contain-paint sm:hidden"
        >
          {
            service.data.covers.map((meta: any, _: number) => (
              <Image
                src={meta.src}
                class={clsx(
                  `h-full object-cover select-none`,
                  service.data.covers.length > 1 ? `min-w-0 flex-1` : ``,
                )}
                alt={meta.alt}
                loading="eager"
                {...Astro.locals.globalDefaults.imageAttr}
              />
            ))
          }
        </div>

        <p class="font-sans text-base">
          {service.data.description}
        </p>
      </div>

      <div class="hidden h-full flex-1 sm:flex">
        <div class="flex justify-evenly rounded-sm contain-paint">
          {
            service.data.covers.map((meta: any, _: number) => (
              <Image
                class={clsx(
                  `object-cover select-none`,
                  service.data.covers.length > 1
                    ? `min-w-0 flex-1 hover:flex-5`
                    : ``,
                )}
                src={meta.src}
                alt={meta.alt}
                {...(service.data.covers.length > 1 && {
                  "data-safari-bad": "duration-800",
                })}
                loading="eager"
                {...Astro.locals.globalDefaults.imageAttr}
              />
            ))
          }
        </div>
      </div>
    </Container>
  </main>

  <LetsTalk />

  <Container variant={ContainerVariant.Inner} as="div" class="relative">
    <div class="absolute bottom-0 translate-y-1/2">
      <Icon name="arrow-down" class="hidden h-auto w-8 sm:block xl:w-10" />
    </div>
  </Container>

  <Content />
  <ServiceGallery slot="post-mdx" exclude={[slug]} class="!mb-0" />
</Layout>
