---
import Dot from "./Dot.astro";

const {
  class: customClass,
  fn = "slideNext",
  idx: slideId,
  length,
  ...rest
} = Astro.props;
---

{
  length !== 1 ? (
    <div class={customClass} {...rest} data-slide-nav={slideId}>
      {Array.from({ length }).map((_, i) => (
        <Dot
          i={i}
          class={i === 0 ? "active" : ""}
          onclick={`${fn}('${slideId}', ${i})`}
        />
      ))}
    </div>
  ) : null
}
