---
import { parseHTML } from "linkedom";
import { flexImages } from "~/lib/processHTML";
import { Pos } from "~/components/variants";

const { title, description, variant, ...slot } = Astro.props;

const html = await Astro.slots.render("default");
const { document } = parseHTML(html);

flexImages(document.querySelectorAll("img"));
---

<div
  class="mb-25 items-center gap-6 last:mb-0 sm:mb-33 sm:flex xl:gap-7 2xl:gap-9"
  {...slot}
>
  {
    variant === Pos.Left && (
      <div class="hidden h-120 w-1/2 justify-center contain-paint sm:flex">
        <Fragment set:html={document} />
      </div>
    )
  }

  <div class="flex-1">
    <h3 class="mb-2 font-serif text-3xl font-semibold">{title}</h3>

    {
      variant === Pos.Right && (
        <div class="-mr-inset my-4 ml-7 flex h-65 justify-center rounded-tl-md rounded-bl-md contain-paint sm:hidden">
          <Fragment set:html={document} />
        </div>
      )
    }

    {
      variant === Pos.Left && (
        <div class="-ml-inset my-4 mr-7 flex h-65 justify-center rounded-tr-md rounded-br-md contain-paint sm:hidden">
          <Fragment set:html={document} />
        </div>
      )
    }

    <p class="font-sans text-base">
      {description}
    </p>
  </div>

  {
    variant === Pos.Right && (
      <div class="hidden h-120 w-1/2 justify-center rounded-sm contain-paint sm:flex">
        <Fragment set:html={document} />
      </div>
    )
  }
</div>
