---
import { containerStyles } from "./styles";
import Island from "./Cardshow.svelte";
import LayoutDivider from "./layout/Divider.astro";
import LayoutTitle from "./layout/Title.astro";

import { type PropsOf } from "@/components/registry";
import { twMerge } from "tailwind-merge";
const meta = Astro.props as PropsOf<"Cardshow">;
---

<LayoutDivider id={meta.id}>
  <LayoutTitle title={meta.title} pos={meta.pos} />

  <div
    class={twMerge(
      containerStyles({ width: "outer" }),
      "flex flex-col 2xl:flex-row",
    )}
  >
    <Island meta={meta.content} speed={meta.speed} client:visible />
  </div>
</LayoutDivider>
