---
import { containerStyles } from "./styles";
import business from "@root/content/business.json";

import { Icon } from "astro-icon/components";
import Search from "@actions/Search.svelte";
import type { VariantProps } from "class-variance-authority";
import { twMerge } from "tailwind-merge";
import { divisionStyle } from "./layout/Divider.astro";

interface Props {
  spacing?: VariantProps<typeof divisionStyle>["spacing"];
}

const { spacing = "top" } = Astro.props;
---

<footer
  class={twMerge(
    divisionStyle({ spacing }),
    "relative z-2 bg-gradient-to-b from-transparent via-white/90 to-white",
  )}
>
  <div
    class={twMerge(
      containerStyles({ width: "inner" }),
      "py-12",
      spacing != null && "border-t-1 border-accent",
    )}
  >
    <div
      class="flex flex-col items-center gap-6 sm:flex-row sm:justify-between"
    >
      <ul class="flex h-fit gap-3">
        {
          business.socials.map((social) => (
            <li class="inline-flex">
              <a
                target="_blank"
                href={social.url}
                rel="noopener noreferrer"
                aria-label={`${social.name} url`}
              >
                <Icon
                  is:inline
                  style={`color: #${social.color}`}
                  name={`${social.icon}`}
                  class="size-15 md:size-19"
                />
              </a>
            </li>
          ))
        }
      </ul>
      <Search
        values={business.areaServed}
        placeholder="Find your municipality"
        client:visible
      />
    </div>

    <div
      class="sm:gap-inset mt-9 flex flex-col items-center gap-1 text-center sm:flex-row"
    >
      <span class="desc-sm"
        ><b>© Strataline. 2025</b> All rights reserved.</span
      >

      <ul class="flex gap-6 sm:ml-auto sm:gap-12">
      </ul>
    </div>
  </div>
</footer>
