---
import { parseHTML } from "linkedom";
import {
  appendAttrElements,
  appendAttrElementsIf,
  minmaxBloat,
  setAttrElements,
} from "~/util/processHTML";

import Container from "~/components/div/Container.astro";
import Link from "~/components/nav/Link.astro";
import SlideBtnArray from "~/components/nav/SlideBtnArray.astro";

const { title, description, speed: speedInt, ...slot } = Astro.props;
const { document } = parseHTML(await Astro.slots.render("default"));

const images = document.querySelectorAll("img");
const length = images.length;

const desktopSlideShowId = crypto.randomUUID();
const mobileSlideShowId = crypto.randomUUID();

minmaxBloat(images, 0);
appendAttrElements(
  images,
  "class",
  "object-cover min-w-0 w-0 h-full transition-[width] duration-700 [&.active]:w-full",
);

appendAttrElementsIf(
  images,
  "class",
  "active",
  (_: Element, i: number) => i == 0,
);

setAttrElements(images, "loading", "eager");
---

<main
  class="relative flex h-svh max-h-180 min-h-150 sm:max-h-350 sm:min-h-210"
  {...slot}
>
  <div
    class="bg-accent absolute z-[-1] hidden h-full w-(--right-hero-offset) rounded-br-xl md:block"
  >
  </div>

  <Container
    as="div"
    class="flex items-center gap-6 pt-15 sm:py-0 xl:gap-7 2xl:gap-9"
  >
    <SlideBtnArray
      idx={desktopSlideShowId}
      class="hidden flex-col gap-5 xl:flex"
      length={length}
    />

    <div class="hidden w-[55%] sm:block xl:w-1/2">
      <div
        id={desktopSlideShowId}
        class="flex h-[60vh] max-h-175 min-h-130 w-full justify-evenly rounded-md contain-paint"
        data-slideshow
        data-slideshow-speed=`${speedInt}`
      >
        <Fragment set:html={document} />
      </div>
      <SlideBtnArray
        idx={desktopSlideShowId}
        length={length}
        class="mt-inset flex justify-center gap-5 xl:hidden"
      />
    </div>

    <div class="flex-1">
      <h2 class="font-serif text-4xl font-bold text-balance">
        {title}
      </h2>

      <div class="mt-4 sm:hidden">
        <div class="flex">
          <div
            class="-ml-inset flex h-70 flex-1 rounded-tr-md rounded-br-md contain-paint"
            id={mobileSlideShowId}
            data-slideshow
            data-slideshow-speed=`${speedInt}`
          >
            <Fragment set:html={document} />
          </div>

          <SlideBtnArray
            class="ml-inset flex flex-col justify-center gap-5 xl:mr-9"
            idx={mobileSlideShowId}
            length={length}
          />
        </div>
      </div>

      <p class="text-bg mt-2 font-sans">
        {description}
      </p>

      <div class="mt-8">
        <Link href="#wasd">Let's Talk</Link>
      </div>
    </div>
  </Container>
</main>
