---
import { parseHTML } from "linkedom";
import { setAttrElements, appendAttrElementsIf } from "~/util/processHTML";

import { Icon } from "astro-icon/components";
import Container from "~/components/div/Container.astro";
import DotArray from "~/components/buttons/DotArray.astro";

const { title, description, speed: speedInt, ...slot } = Astro.props;
const { document } = parseHTML(await Astro.slots.render("default"));

const images = document.querySelectorAll("img");

const desktopSlideShowId = crypto.randomUUID();
const mobileSlideShowId = crypto.randomUUID();

setAttrElements(
  images,
  "class",
  "object-cover min-w-0 !w-0 h-full [&.active]:!w-full",
);

setAttrElements(images, "data-safari-bad", "duration-700");

appendAttrElementsIf(
  images,
  "class",
  "active",
  (_: Element, i: number) => i == 0,
);

setAttrElements(images, "loading", "eager");
---

<main
  class="relative flex h-svh max-h-200 min-h-160 overflow-x-clip sm:max-h-350 sm:min-h-210"
  {...slot}
>
  <div
    class="bg-accent absolute z-[-1] hidden h-full w-(--right-hero-offset) rounded-br-xl md:block"
  >
  </div>

  <Container
    as="div"
    class="flex items-center gap-6 pt-15 sm:py-0 xl:gap-7 2xl:gap-9"
  >
    <div class="hidden w-1/2 sm:flex">
      <DotArray
        idx={desktopSlideShowId}
        class="hidden flex-col justify-center gap-5 xl:mr-7 xl:flex 2xl:mr-9"
        length={images.length}
      />

      <div>
        <div
          id={desktopSlideShowId}
          class="flex h-[60vh] max-h-175 min-h-130 w-full justify-evenly rounded-sm contain-paint"
          data-slideshow
          data-slideshow-speed=`${speedInt}`
        >
          <Fragment set:html={document} />
        </div>

        <DotArray
          idx={desktopSlideShowId}
          length={images.length}
          class="mt-inset flex justify-center gap-5 xl:hidden"
        />
      </div>
    </div>

    <div class="relative flex-1">
      <h2 class="font-serif text-5xl font-bold text-balance">
        {title}
      </h2>

      <div class="mt-4 flex h-70 sm:hidden">
        <div
          class="-ml-inset flex flex-1 rounded-tr-sm rounded-br-sm contain-paint"
          id={mobileSlideShowId}
          data-slideshow
          data-slideshow-speed=`${speedInt}`
        >
          <Fragment set:html={document} />
        </div>

        <DotArray
          class="ml-inset flex flex-col justify-center gap-5 xl:mr-9"
          idx={mobileSlideShowId}
          length={images.length}
        />
      </div>

      <p class="text-bg mt-2 font-sans xl:mt-4">
        {description}
      </p>

      <div class="mt-8 pb-17">
        <div class="pointer-events-none absolute z-1 h-lvh w-full">
          <button
            data-safari-bad="duration-1000"
            class="pointer-events-auto absolute bottom-full flex h-13 w-33 translate-y-full cursor-pointer items-center justify-center rounded-lg border-[1.4px] border-black bg-white sm:h-14 sm:w-34 xl:h-17 xl:w-42"
            id="letsTalk"
            aria-label="Lets talk"
            onclick={`toggleMenu("talkMenu", true)`}
          >
            <Icon
              name="ph:mailbox-fill"
              data-safari-bad="duration-1000"
              class="absolute h-10 w-10 text-white opacity-0 sm:h-11 sm:w-11"
            />
            <span
              data-safari-bad="duration-1000"
              class="font-serif text-lg font-semibold text-nowrap opacity-100"
              >Let's Talk</span
            >
          </button>
        </div>
      </div>
    </div>
  </Container>
</main>

<script>
  const letsTalk = document.getElementById("letsTalk") as HTMLElement;
  const span = letsTalk.querySelector("span") as HTMLElement;
  const svg = letsTalk.querySelector("svg") as HTMLElement;
  let yOffset = letsTalk.getBoundingClientRect().top + window.scrollY;
  let triggered = false;

  function swapClazz(e: HTMLElement, classes: string) {
    for (let clazz of classes.split(" ")) {
      e.classList.toggle(clazz);
    }
  }

  function toggle() {
    swapClazz(
      letsTalk,
      "fixed translate-x-[calc(100vw-170%)] sm:translate-x-[calc(50vw-200%)] bottom-8 sm:bottom-13",
    );
    swapClazz(letsTalk, "absolute bottom-full translate-y-full");

    swapClazz(span, "absolute opacity-100 opacity-0 pointer-events-none");
    swapClazz(svg, "absolute static opacity-0");

    swapClazz(
      letsTalk,
      "h-13 w-33 sm:h-14 sm:w-34 xl:h-17 xl:w-42 rounded-lg bg-white border-black border-transparent",
    );
    swapClazz(
      letsTalk,
      "w-17 h-17 sm:w-20 sm:h-20 rounded-[50%] bg-accent-dark",
    );
  }

  function test() {
    if (window.scrollY < yOffset) {
      if (!triggered) {
        toggle();
        triggered = true;
      }
    } else {
      if (triggered) {
        toggle();
        triggered = false;
      }
    }
  }

  if (window.scrollY > yOffset) {
    triggered = true;
  } else {
    toggle();
  }

  test();
  window.addEventListener("scroll", () => {
    test();
  });
</script>
