---
import { parseHTML } from "linkedom";
import { processElements } from "~/lib/processHTML";

import Container, { ContainerVariant } from "~/components/div/Container.astro";
import Dot, { DotVariant } from "~/components/inputs/Dot.astro";
import ContainerTitle from "~/components/div/ContainerTitle.astro";
import { Pos } from "~/components/variants.ts";
import { Icon } from "astro-icon/components";

const { title, variant = Pos.Left, speed = 4000, ...slot } = Astro.props;

const html = await Astro.slots.render("default");
const { document } = parseHTML(html);

const id = crypto.randomUUID();

const images = document.querySelectorAll("img");

processElements(images, (img, i) => {
  const width = parseInt(img.getAttribute("width") || "1000") || 1000;
  const height = parseInt(img.getAttribute("height") || "1000") || 1000;

  img.classList.add("w-full sm:w-auto", "md:max-w-280");
  img.classList.add("object-cover", "rounded-sm");
  img.setAttribute("fetchpriority", "high");

  if (i !== 0) {
    img.setAttribute("fetchpriority", "low");
  }

  if (i == 1) {
    img.setAttribute("loading", "eager");
  }
});

images.forEach((img) => {
  const container = document.createElement("div");
  container.classList.add(
    "flex-shrink-0",
    "flex",
    "w-full",
    "justify-center",
    "h-full",
  );
  img.parentNode.insertBefore(container, img);
  container.appendChild(img);
});
---

<Container class="contain-paint" variant={ContainerVariant.Max} {...slot}>
  <ContainerTitle class="px-inset" variant={variant} title={title} />

  <Container
    variant={ContainerVariant.Max}
    class="relative h-[65vh] max-h-250 items-center gap-10 lg:justify-between"
    as="div"
  >
    <div class="h-full overflow-hidden">
      <div
        class="flex h-full items-center gap-[10%] duration-1000 will-change-transform"
        id={id}
        data-image-slideshow
        data-slideshow-speed={`${speed}`}
      >
        <Fragment set:html={document} />
      </div>
    </div>
  </Container>

  <div class="mt-inset flex justify-center gap-5" data-id={id}>
    {
      Array.from({ length: images.length }).map((_, i) => (
        <Dot
          i={i}
          variant={DotVariant.Small}
          class={i === 0 ? "active" : ""}
          onclick={`imageTo('${id}', ${i})`}
        />
      ))
    }
  </div>
</Container>

<script>
  // @ts-check
  declare global {
    interface Window {
      imageTo: (id: string, i: number, to: boolean) => void;
      imageNext: (id: string) => void;
      imagePrev: (id: string) => void;
    }
  }

  window.imageTo = (id: string, i: number, to: boolean = true): void => {
    const e = document.getElementById(id) as HTMLElement;
    e.setAttribute("data-slide-mutated", "");
    handleImage(e, i, to);
  };

  window.imageNext = (id: string): void => {
    window.imageTo(id, 1, false);
  };

  window.imagePrev = (id: string): void => {
    window.imageTo(id, -1, false);
  };

  function handleImage(e: HTMLElement, idx: number, to: boolean): void {
    const prevIdx = parseInt(e.getAttribute("data-idx") || "0", 10) || 0;

    // If not doing an absolute jump then add idx to the previous index.
    if (!to) {
      idx += prevIdx;
    }

    const length = e.children.length;
    if (length <= 0) {
      return;
    }

    const nextIdx = ((idx % length) + length) % length;

    e.setAttribute("style", `transform: translateX(-${nextIdx * 110}%)`);
    e.setAttribute("data-idx", nextIdx.toString());
    (e.children[nextIdx].children[0] as HTMLElement)?.setAttribute(
      "loading",
      "eager",
    );

    document
      .querySelectorAll(`[data-id="${e.id}"]`)
      .forEach((slideButton: Element) => {
        const next = slideButton.children[prevIdx] as HTMLElement;
        const prev = slideButton.children[nextIdx] as HTMLElement;
        next.classList.remove("active");
        prev.classList.add("active");
        slideButton.setAttribute("data-slide-idx", nextIdx.toString());
      });
  }

  document
    .querySelectorAll("[data-image-slideshow]")
    .forEach((slideshow: HTMLElement): void => {
      const speedAttr = parseInt(
        slideshow.getAttribute("data-slideshow-speed") ?? "4000",
        10,
      );
      const speed = isNaN(speedAttr) ? 4000 : speedAttr;

      setInterval(() => {
        const r = slideshow.getBoundingClientRect();
        if (!(r.bottom < 0 || r.top > window.innerHeight)) {
          return;
        }

        if (
          !slideshow.hasAttribute("data-slide-mutated") &&
          !slideshow.matches(":hover")
        ) {
          handleImage(slideshow, 1, true);
        } else {
          slideshow.removeAttribute("data-slide-mutated");
        }
      }, speed);
    });
</script>
