---
import { containerStyles, headingStyles } from "./styles";
import { Image } from "astro:assets";
import clsx from "clsx";

import { Icon } from "astro-icon/components";
import Island from "./TextCarousel.svelte";
import LayoutDivider from "./layout/Divider.astro";
import LayoutTitle from "./layout/Title.astro";

import { getEntry, getCollection } from "~/content.config";

import { type PropsOf } from "./registry";
const meta = Astro.props as PropsOf<"LessPopular">;

const index = await getEntry("index", "index");
const exclude = index.data.popular;
const services = (await getCollection("services")).filter(
  (service) =>
    !exclude.some((pattern: string) =>
      service.id.includes(pattern),
    ),
);
---

<LayoutDivider id={meta.id}>
  <LayoutTitle title={meta.title} pos={meta.pos} />

  <div class="bg-accent">
    <nav
      class={clsx(
        containerStyles({ width: "inner" }),
        "flex flex-wrap justify-center gap-6 py-12 md:py-22 sm:gap-y-12 2xl:gap-7",
      )}
    >
      {
        services.map((service, _) => {
          const slug = service.id.split("/")[0];
          return (
            <a
              class="gap-inset flex w-full items-center sm:max-w-1/2 sm:flex-[40%] sm:flex-col lg:max-w-1/3 lg:flex-[30%]"
              href={`/services/${slug}`}
              tabindex="0"
            >
              <Image
                class="h-[30vw] max-h-65 min-h-30 w-1/2 rounded-sm object-cover transition duration-300 select-none hover:scale-[1.05] sm:w-full"
                src={service.data.covers[0].meta}
                alt={service.data.covers[0].alt}
                draggable={false}
              />

              <div class="sm:gap-inset flex flex-col gap-1 sm:w-full sm:flex-row sm:items-center">
                <h3 class={headingStyles({ size: "xl" })}>
                  {service.data.title}
                </h3>
                <Icon name="arrow" is:inline />
              </div>
            </a>
          );
        })
      }
    </nav>
  </div>

  {meta.carousel && <Island client:visible meta={meta.carousel} />}
</LayoutDivider>
