---
import {
  containerStyles,
  imageStyles,
  headingStyles,
  descStyles,
  imageWrapperStyles,
} from "./styles";

import {  swapPos} from "./pos";

import { getEntry, getCollection } from "~/content.config";
import { Image } from "astro:assets";

import clsx from "clsx";
import LayoutDivider from "./layout/Divider.astro";
import LayoutTitle from "./layout/Title.astro";

let index = await getEntry("index", "index");

import { type PropsOf } from "./registry";
import { actionStyles } from "@actions/styles";

const meta = Astro.props as PropsOf<"Popular">;

const services = (await getCollection("services"))
  .filter((service) =>
    index.data.popular.some((pattern: string) =>
      service.id.split("/")[0].includes(pattern),
    ),
  )
  .sort(
    (a, b) =>
      index.data.popular.indexOf(a.id) - index.data.popular.indexOf(b.id),
  );

let next = swapPos(meta.pos);
---

<LayoutDivider id={meta.id}>
  <LayoutTitle title={meta.title} pos={meta.pos} />

  <div class={containerStyles({ width: "outer" })}>
    {
      services.map((service, _) => {
        const slug = service.id.split("/")[0];
        const render = () =>
          service.data.covers.map((image, _) => (
            <Image
              class={imageStyles({
                anim: service.data.covers.length > 1 ? "zoom" : undefined,
              })}
              src={image.meta}
              alt={image.alt}
              draggable={false}
              widths={[500, 750, 1300, 2160]}
              sizes="100vw"
              width={2160}
            />
          ));

        next = swapPos(next);

        return (
          <div
            class="mb-25 items-center gap-6 last:mb-0 sm:mb-33 sm:flex xl:gap-7 2xl:gap-9"
            id={slug}
          >
            {next === "left" && (
              <div
                class={imageWrapperStyles({
                  pos: "left",
                  size: "desktop",
                  display: "md",
                })}
              >
                {render()}
              </div>
            )}

            <div class="flex-1">
              <h3 class={clsx("mb-2", headingStyles({ size: "4xl" }))}>
                {service.data.title}
              </h3>

              {next === "right" && (
                <div
                  class={imageWrapperStyles({
                    pos: "right",
                    size: "mobile",
                    display: "sm",
                  })}
                >
                  {render()}
                </div>
              )}

              {next === "left" && (
                <div
                  class={imageWrapperStyles({
                    pos: "left",
                    size: "mobile",
                    display: "sm",
                  })}
                >
                  {render()}
                </div>
              )}

              <p class={descStyles({ size: "base" })}>{service.data.desc}</p>

              <div class="mt-8">
                <a
                  class={actionStyles()}
                  href={`/services/${slug}`}
                  rel="noopener noreferrer"
                  data-astro-prefetch=""
                >
                  Explore More
                </a>
              </div>
            </div>

            {next === "right" && (
              <div
                class={imageWrapperStyles({
                  pos: "right",
                  size: "desktop",
                  display: "md",
                })}
              >
                {render()}
              </div>
            )}
          </div>
        );
      })
    }
  </div>
</LayoutDivider>
