---
import {
  Pos,
  swapPos,
  container,
  imageCover,
  heading,
  desc,
  imageVariants,
} from "./meta";
import { getIndex, getServices } from "~/content.config.ts";
import { Image } from "astro:assets";
import { optimizeOpts } from "~/build/images";

import clsx from "clsx";
import { Popular as Meta } from "@/meta";
import Link from "@actions/Link.svelte";
import Title from "./Title.astro";

let index = await getIndex();
let services = await getServices();

interface Props {
  meta: Meta;
  pos: Pos;
}

const { meta, pos = Astro.locals.getNextPos() } = Astro.props;

const popularServices = services
  .filter((service) =>
    index.data.popular.some((pattern: string) =>
      service.id.split("/")[0].includes(pattern),
    ),
  )
  .sort(
    (a, b) =>
      index.data.popular.indexOf(a.slug) - index.data.popular.indexOf(b.slug),
  );

let next = swapPos(pos);
---

<section class={container({ intent: "div" })} id={meta.id}>
  <Title title={meta.title} {pos} />

  <div class={container({ intent: "outer" })}>
    {
      popularServices.map((service, _) => {
        const slug = service.id.split("/")[0];
        const render = () =>
          service.data.covers.map((image, _) => (
            <Image
              class={imageCover({
                multiple: service.data.covers.length > 1,
              })}
              src={image.meta}
              alt={image.alt}
              {...optimizeOpts}
            />
          ));

        next = swapPos(next);

        return (
          <div
            class="mb-25 items-center gap-6 last:mb-0 sm:mb-33 sm:flex xl:gap-7 2xl:gap-9"
            id={slug}
          >
            {next === Pos.Left && (
              <div
                class={imageVariants({ position: "left", device: "desktop" })}
              >
                {render()}
              </div>
            )}

            <div class="flex-1">
              <h3 class={clsx("mb-2", heading({ intent: "4xl" }))}>
                {service.data.title}
              </h3>

              {next === Pos.Right && (
                <div
                  class={imageVariants({ position: "right", device: "mobile" })}
                >
                  {render()}
                </div>
              )}

              {next === Pos.Left && (
                <div
                  class={imageVariants({ position: "left", device: "mobile" })}
                >
                  {render()}
                </div>
              )}

              <p class={desc({ intent: "base" })}>{service.data.desc}</p>

              <div class="mt-8">
                <Link href={`/services/${slug}`} data-astro-prefetch="">
                  Explore More
                </Link>
              </div>
            </div>

            {next === Pos.Right && (
              <div
                class={imageVariants({ position: "right", device: "desktop" })}
              >
                {render()}
              </div>
            )}
          </div>
        );
      })
    }
  </div>
</section>
