---
import { containerStyles, imageStyles, swapPos } from "./styles";
import { getEntry, getCollection } from "~/content.config";
import { imageOpts } from "~/build/images";
import { Image } from "astro:assets";

import LayoutDivider from "./layout/Divider.astro";
import LayoutTitle from "./layout/Title.astro";
import LayoutCard from "./layout/Card.astro";

let index = await getEntry("index", "index");

import { actionStyles } from "@actions/styles";

import { type PropsOf } from "./registry";
const meta = Astro.props as PropsOf<"Popular">;

const services = (await getCollection("services"))
  .filter((service) =>
    index.data.popular.some((pattern: string) =>
      service.id.split("/")[0].includes(pattern),
    ),
  )
  .sort(
    (a, b) =>
      index.data.popular.indexOf(a.id) - index.data.popular.indexOf(b.id),
  );

let next = swapPos(meta.pos);
---

<LayoutDivider id={meta.id}>
  <LayoutTitle title={meta.title} pos={meta.pos} />

  <div class=`${containerStyles({ width: "outer" })} space-y-20 sm:space-y-35`>
    {
      services.map((service, _) => {
        const slug = service.id.split("/")[0];
        next = swapPos(next);

        return (
          <LayoutCard
            id={slug}
            title={service.data.title}
            desc={service.data.desc}
            pos={next}
          >
            {service.data.covers.map((image, _) => (
              <Image
                src={image.meta}
                alt={image.alt}
                class={imageStyles({
                  anim: service.data.covers.length > 1 ? "zoom" : undefined,
                })}
                slot="image"
                {...imageOpts}
              />
            ))}

            <div class="mt-9">
              <a
                class={actionStyles()}
                href={`/services/${slug}`}
                rel="noopener noreferrer"
                data-astro-prefetch=""
              >
                Explore More
              </a>
            </div>
          </LayoutCard>
        );
      })
    }
  </div>
</LayoutDivider>
