---
import {
  Pos,
  swapPos,
  containerStyles,
  imageStyles,
  headingStyles,
  descStyles,
  imageWrapperStyles,
} from "./styles";

import { getIndex, getServices } from "~/content.config";
import { Image } from "astro:assets";

import clsx from "clsx";
import LayoutDivider from "./layout/Divider.astro";
import LayoutTitle from "./layout/Title.astro";

let index = await getIndex();
let services = await getServices();

import { type PropsOf } from "./registry";
import { actionStyles } from "@actions/styles";
const meta = Astro.props as PropsOf<"Popular">;
const pos = Astro.locals.getNextPos();

const popularServices = services
  .filter((service) =>
    index.data.popular.some((pattern: string) =>
      service.id.split("/")[0].includes(pattern),
    ),
  )
  .sort(
    (a, b) =>
      index.data.popular.indexOf(a.slug) - index.data.popular.indexOf(b.slug),
  );

let next = swapPos(pos);
---

<LayoutDivider id={meta.id}>
  <LayoutTitle title={meta.title} {pos} />

  <div class={containerStyles({ width: "outer" })}>
    {
      popularServices.map((service, _) => {
        const slug = service.id.split("/")[0];
        const render = () =>
          service.data.covers.map((image, _) => (
            <Image
              class={imageStyles({
                layout: service.data.covers.length > 1 ? "divided" : undefined,
              })}
              src={image.meta}
              alt={image.alt}
              draggable={false}
            />
          ));

        next = swapPos(next);

        return (
          <div
            class="mb-25 items-center gap-6 last:mb-0 sm:mb-33 sm:flex xl:gap-7 2xl:gap-9"
            id={slug}
          >
            {next === Pos.Left && (
              <div
                class={imageWrapperStyles({
                  position: "left",
                  device: "desktop",
                })}
              >
                {render()}
              </div>
            )}

            <div class="flex-1">
              <h3 class={clsx("mb-2", headingStyles({ size: "4xl" }))}>
                {service.data.title}
              </h3>

              {next === Pos.Right && (
                <div
                  class={imageWrapperStyles({
                    position: "right",
                    device: "mobile",
                  })}
                >
                  {render()}
                </div>
              )}

              {next === Pos.Left && (
                <div
                  class={imageWrapperStyles({
                    position: "left",
                    device: "mobile",
                  })}
                >
                  {render()}
                </div>
              )}

              <p class={descStyles({ size: "base" })}>{service.data.desc}</p>

              <div class="mt-8">
                <a
                  class={actionStyles()}
                  href={`/services/${slug}`}
                  rel="noopener noreferrer"
                  data-astro-prefetch=""
                >
                  Explore More
                </a>
              </div>
            </div>

            {next === Pos.Right && (
              <div
                class={imageWrapperStyles({
                  position: "right",
                  device: "desktop",
                })}
              >
                {render()}
              </div>
            )}
          </div>
        );
      })
    }
  </div>
</LayoutDivider>
