---
import { type PropsOf } from "./registry";
const meta = Astro.props as PropsOf<"Prices">;

import LayoutDivider from "./layout/Divider.astro";
import LayoutSplit from "./layout/Split.astro";
import { spaceStyles } from "./styles";

import { marked } from "marked";
import { Icon } from "astro-icon/components";
---

<LayoutDivider>
  <LayoutSplit pos={meta.pos}>
    <div slot="title" class="flex-1">
      <h2 class="heading-5xl top-0 sm:sticky">
        {meta.title}
      </h2>
    </div>

    <div class="flex-2">
      {
        meta.content.map((price, _) => {
          return (
            <div
              class={`border-accent border-t-1 first:border-t-0 ${spaceStyles({ padding: "base" })}`}
            >
              <div class="flex w-full items-center justify-between gap-4">
                <h3 class="heading-2xl">{price.title}</h3>
                <div class="flex items-center gap-4">
                  <span class="desc-base text-success">{price.min}</span>
                  <span class="">-</span>
                  <span class="desc-base text-success">{price.max}</span>
                </div>
              </div>

              <p class="desc-base my-4">{marked.parseInline(price.desc)}</p>

              {price.materials.map((s: string) => (
                <div class="mt-1 flex gap-3 align-top">
                  <Icon
                    name="ph:star-four-fill"
                    class="text-gold h-auto w-4 sm:w-5"
                    aria-hidden="true"
                    is:inline
                  />
                  <span class="desc-sm">{s}</span>
                </div>
              ))}
            </div>
          );
        })
      }
    </div>
  </LayoutSplit>
</LayoutDivider>
