---
import Container, { ContainerVariant } from "~/components/div/Container.astro";
import ContainerTitle from "~/components/div/ContainerTitle.astro";

const { title, description, titlePos = Astro.locals.getNextPos(), ...slot } = Astro.props;
---

<Container title={title} variant={ContainerVariant.Inner} {...slot}>
  <ContainerTitle split even title={title} titlePos={titlePos}>
    <p class="font-sans text-sm">{description}</p>
  </ContainerTitle>

  <div class="gap-inset grid grid-cols-1 sm:grid-cols-2 sm:gap-8">
    <slot />
  </div>
</Container>
