---
import { parseHTML } from "linkedom";
import { Pos } from "~/components/variants";
import Container, { ContainerVariant } from "~/components/div/Container.astro";
import ContainerTitle from "~/components/div/ContainerTitle.astro";

const { title, titlePos = Pos.Left, ...slot } = Astro.props;
const { document } = parseHTML(await Astro.slots.render("default"));
const cards = document.querySelectorAll("[data-slider-card]");
const reviewSlider = crypto.randomUUID();

//TODO: add share your experiance
---

<Container variant={ContainerVariant.Display} {...slot}>
  <ContainerTitle class="px-inset" title={title} variant={titlePos} />
  <div
    class="scrollbar-hide flex cursor-grab touch-pan-y overflow-x-scroll overflow-y-visible"
    data-slider
    id={reviewSlider}
  >
    <Fragment set:html={document} />
    <div class="w-lvw shrink-0"></div>
  </div>

  <div
    class="bg-tone relative mx-auto mt-12 flex h-3 w-full max-w-70 sm:max-w-100"
  >
    <div
      data-slider-scroller
      class="bg-accent absolute h-full rounded-sm transition-transform duration-500"
    >
    </div>
    {
      Array.from({ length: cards.length }, (_, i: number) => (
        <button
          class="z-1 flex-1 cursor-pointer"
          onclick={`sliderTo('${reviewSlider}', ${i})`}
        />
      ))
    }
  </div>
</Container>
