---
import clsx from "clsx";
import { parseHTML } from "linkedom";

import Container, { ContainerVariant } from "~/components/div/Container.astro";
import ContainerTitle from "~/components/div/ContainerTitle.astro";
import { Icon } from "astro-icon/components";

const { title, titlePos = Astro.locals.getNextPos(), ...slot } = Astro.props;
const { document } = parseHTML(await Astro.slots.render("default"));
const cards = document.querySelectorAll("[data-review-card]");
const id = crypto.randomUUID();
---

<Container class="contain-paint" variant={ContainerVariant.Display} {...slot}>
  <ContainerTitle
    title={title}
    titlePos={titlePos}
    class="px-inset"
    center
    even
  >
    <button
      class="ml-auto flow-root cursor-pointer"
      aria-label="Write a review"
      onclick={`toggleMenu("reviewMenu")`}
    >
      <Icon name="ph:feather-fill" class="hidden h-auto w-23 sm:block" />
    </button>
  </ContainerTitle>

  <div
    class="flex transform-gpu cursor-grab touch-pan-y will-change-transform"
    data-review
    id={id}
  >
    <Fragment set:html={document} />
    <div class="w-lvw shrink-0"></div>
  </div>

  <div
    class="bg-tone relative mx-auto mt-12 flex h-3 w-full max-w-70 sm:max-w-100"
  >
    <div
      data-review-scroller={id}
      class="bg-accent absolute h-full rounded-sm transition-transform duration-500"
    >
    </div>

    {
      Array.from({ length: cards.length }, (_, i: number) => (
        <button
          class={clsx(
            `z-10 flex-1 cursor-pointer ${i == cards.length - 1 ? "xl:hidden" : ""}`,
          )}
          aria-controls={id}
          aria-label={`Navigate to review ${i}`}
        />
      ))
    }
  </div>
</Container>

<script>
  // @ts-check
  document.querySelectorAll("[data-review]").forEach((wrapper: HTMLElement) => {
    const scroller = document.querySelector(
      `[data-review-scroller="${wrapper.id}"]`,
    ) as HTMLElement;
    const cards = wrapper.querySelectorAll("[data-review-card]");
    if (!cards.length) return;

    let idx = 0,
      width = 0,
      isDown = false,
      startX = 0,
      startY = 0;

    const threshold = 25;
    let isOutsideScreen: MediaQueryList;

    const sliderLength = (n: number) => n - (isOutsideScreen.matches ? 0 : 1);

    const updateStyles = () => {
      wrapper.style.transition = "transform 0.5s ease";
      wrapper.style.transform = `translateX(-${width * idx}px)`;
      scroller.style.cssText = `transform: translateX(${idx * 100}%); width: ${100 / sliderLength(cards.length)}%`;
    };

    const resize = () => {
      width =
        cards[idx].getBoundingClientRect().width +
        parseFloat(getComputedStyle(cards[idx]).marginRight) +
        parseFloat(getComputedStyle(cards[idx]).marginLeft);
      isOutsideScreen = window.matchMedia(`(max-width: ${width * 2}px)`);
      wrapper.style.transition = "none";

      wrapper.offsetHeight;
      updateStyles();
      scroller.parentElement?.classList.toggle(
        "xl:hidden",
        !isOutsideScreen.matches && cards.length <= 2,
      );
    };

    document
      .querySelectorAll(`[aria-controls="${wrapper.id}"]`)
      .forEach((b: HTMLElement, i: number) => {
        b.onclick = () => {
          idx = i;
          updateStyles();
        };
      });

    const finalizeDrag = (pageX: number, pageY: number) => {
      if (!isDown) return;

      const diffX = pageX - startX;
      const diffY = pageY - startY;
      if (Math.abs(diffX) < threshold || Math.abs(diffX) < Math.abs(diffY))
        return;

      idx += diffX < 0 ? 1 : -1;
      idx = Math.max(0, Math.min(idx, sliderLength(cards.length) - 1));

      updateStyles();
      isDown = false;
    };

    wrapper.addEventListener(
      "pointerdown",
      (e: PointerEvent) => {
        isDown = true;
        wrapper.style.transition = "none";
        startX = e.pageX;
        startY = e.pageY;
      },
      { passive: true },
    );

    wrapper.addEventListener(
      "pointermove",
      (e: PointerEvent) => {
        if (!isDown) return;

        wrapper.style.transform = `translateX(${e.pageX - startX - width * idx}px)`;
      },
      { passive: true },
    );

    ["pointerup", "pointercancel", "pointerleave"].forEach(
      (event: string) =>
        wrapper.addEventListener(
          event,
          (e: PointerEvent): void => finalizeDrag(e.pageX, e.pageY),
          { passive: true },
        ) as EventListener,
    );

    resize();
    window.addEventListener("resize", resize);
    isOutsideScreen.addEventListener("change", resize);
  });
</script>
