---
import { containerStyles, imageWrapperStyles, imageStyles } from "./styles";
import { imageOpts } from "~/build/images";

import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Home from "@decor/Home.astro";

import { clsx } from "clsx";

import type { CollectionEntry } from "~/content.config";

interface Props {
  meta: CollectionEntry<"services">;
  slug: string;
}

const { meta, slug } = Astro.props;
---

<main class="relative min-h-50 overflow-x-clip py-15 sm:h-[80vh] sm:max-h-170">
  <div
    class={`${containerStyles({ width: "outer" })} gap-6 md:gap-8 xl:gap-1 flex h-full items-center sm:flex-row sm:py-0`}
  >
    <div
      class="bg-accent absolute top-0 left-0 sm:left-[calc(50vw+10rem)] bottom-0 right-0 z-[-1] sm:rounded-bl-md"
    >
    </div>

    <div class="flex-1">
      <Home desc="Go back" {slug} />
      <h1 class="heading-5xl mb-2 font-bold">
        {meta.title}
      </h1>

      <div
        class={`${imageWrapperStyles({
          display: "sm",
          size: "mobile",
          pos: "right",
        })} my-4 ml-7`}
      >
        {
          meta.covers.map((image, _) => (
            <Image
              alt={image.alt}
              src={image.meta}
              class={imageStyles({
                anim: meta.covers.length > 1 ? "zoom" : undefined,
              })}
              {...imageOpts}
            />
          ))
        }
      </div>

      <p class="desc-base">
        {meta.desc}
      </p>
    </div>

    <div
      class={clsx(
        "hidden h-full rounded-sm flex-1",
        imageWrapperStyles({ display: "md" }),
      )}
    >
      {
        meta.covers.map((image, _) => (
          <Image
            alt={image.alt}
            src={image.meta}
            {...imageOpts}
            class={imageStyles({
              anim: meta.covers.length > 1 ? "zoom" : undefined,
            })}
          />
        ))
      }
    </div>
  </div>
</main>

<div class={containerStyles({ width: "inner" })}>
  <Icon
    name="arrow"
    class="h-auto w-15 -translate-y-1/2 rotate-90 xl:w-20"
  />
</div>
