---
import { appendAttrElements, appendAttrElementsIf } from "~/lib/processHTML";
import { parseHTML } from "linkedom";

import Container, { ContainerVariant } from "~/components/div/Container.astro";
import ContainerTitle from "~/components/div/ContainerTitle.astro";
import DotArray from "~/components/inputs/DotArray.astro";

const slideCardId = crypto.randomUUID();
const { title, titlePos, speed, ...slot } = Astro.props;

const { document } = parseHTML(await Astro.slots.render("default"));
const cards = document.querySelectorAll("[data-slideshow-card]");
const length = cards.length;

appendAttrElements(
  cards,
  "class",
  "opacity-0 inset-0 absolute transition-opacity duration-1000 [&.active]:opacity-100 [&.active]:static flex",
);

appendAttrElementsIf(cards, "inert", "", (_: Element, i: number) => i != 0);

appendAttrElementsIf(
  cards,
  "class",
  "active",
  (_: Element, i: number) => i == 0,
);
---

<Container class="px-inset" variant={ContainerVariant.Display} {...slot}>
  <ContainerTitle center title={title} titlePos={titlePos} />
  <div class="2xl:max-w-outer 2xl:mx-auto">
    <div class="2xl:max-w-middle flex flex-col 2xl:ml-auto 2xl:flex-row">
      <div class="xl:max-w-inner 2xl:pr-inset w-full xl:mx-auto 2xl:mx-0">
        <div
          class="bg-accent relative rounded-sm"
          id={slideCardId}
          data-slideshow
          data-slideshow-speed={speed}
        >
          <Fragment set:html={document} />
        </div>
      </div>
      {
        length > 1 && (
          <DotArray
            length={length}
            idx={slideCardId}
            class="pt-inset flex flex-row justify-center gap-5 2xl:flex-col 2xl:pt-0"
          />
        )
      }
    </div>
  </div>
</Container>
