---
import clsx from "clsx";
import { appendAttrElements, appendAttrElementsIf } from "~/util/processHTML";
import { parseHTML } from "linkedom";

import { Pos } from "~/components/variants";
import Container, { ContainerVariant } from "~/components/div/Container.astro";
import ContainerTitle from "~/components/div/ContainerTitle.astro";
import DotArray from "~/components/buttons/DotArray.astro";

const slideCardId = crypto.randomUUID();
const { title, titlePos = Pos.Left, speed, ...slot } = Astro.props;

const { document } = parseHTML(await Astro.slots.render("default"));
const cards = document.querySelectorAll("[data-slideshow-card]");
const length = cards.length;

appendAttrElements(
  cards,
  "class",
  "opacity-0 inset-0 pointer-events-none absolute transition-opacity duration-1000 [&.active]:opacity-100 [&.active]:static flex md:h-80 [&.active]:pointer-events-auto",
);

appendAttrElementsIf(
  cards,
  "class",
  "active",
  (_: Element, i: number) => i == 0,
);
---

<Container variant={ContainerVariant.Outer} {...slot}>
  <ContainerTitle class="px-inset" title={title} variant={titlePos} />
  <div
    class={clsx(
      `rounded-sm overflow-clip xl:ml-(--right-span)`,
      length > 1 && "flex flex-col xl:flex-row",
    )}
  >
    <div
      class="bg-accent max-w-inner relative w-full rounded-sm"
      id={slideCardId}
      data-slideshow
      data-slideshow-speed={speed}
    >
      <Fragment set:html={document} />
    </div>
    {
      length > 1 && (
        <DotArray
          length={length}
          idx={slideCardId}
          class="pt-inset xl:pl-inset box-content flex flex-1 flex-row items-center justify-center gap-5 xl:flex-col xl:pt-0"
        />
      )
    }
  </div>
</Container>
