---
import { type PropsOf } from "./registry";
import { Image } from "astro:assets";

import LayoutDivider from "./layout/Divider.astro";
import LayoutTitle from "./layout/Title.astro";
import LayoutCard from "./layout/Card.astro";
import { imageStyles, containerStyles, swapPos } from "./styles";
import { imageOpts } from "~/build/images";
const meta = Astro.props as PropsOf<"ZigZag">;

let next = swapPos(meta.pos);
---

<LayoutDivider id={meta.id}>
  <LayoutTitle title={meta.title} pos={meta.pos} />

  <div class={containerStyles({ width: "outer", space: "base" })}>
    {
      meta.content.map((zig, _) => {
        next = swapPos(next);
        return (
          <LayoutCard title={zig.title} desc={zig.desc} pos={next}>
            <Image
              slot="image"
              class={imageStyles()}
              src={zig.image.meta}
              alt={zig.image.alt}
              {...imageOpts}
            />
          </LayoutCard>
        );
      })
    }
  </div>
</LayoutDivider>
