---
import clsx from "clsx";
import { parseHTML } from "linkedom";
import Link from "./nav/Link.astro";

const { title, description, variant = "left" } = Astro.props;

const html = await Astro.slots.render("default");
const { document } = parseHTML(html);

document.querySelectorAll("img").forEach((img, _) => {
  img.setAttribute("class", clsx(`object-cover w-full h-full absolute`));
});
---

<div class="mb-25 items-center gap-6 last:mb-0 sm:flex 2xl:gap-9">
  {
    variant === "left" && (
      <div class="relative hidden h-120 w-1/2 contain-paint sm:block">
        <Fragment set:html={document} />
      </div>
    )
  }

  <div class="flex-1 sm:w-1/2">
    <h4 class="font-serif text-2xl font-semibold">{title}</h4>

    {
      variant === "right" && (
        <div class="-mr-inset ml-7 relative mt-4 mb-4 h-85 contain-paint sm:hidden">
          <Fragment set:html={document} />
        </div>
      )
    }

    {
      variant === "left" && (
        <div class="-ml-inset mr-7 relative mt-4 mb-4 h-85 contain-paint sm:hidden">
          <Fragment set:html={document} />
        </div>
      )
    }

    <p class="font-sans text-base">
      {description}
    </p>

    <div class="mt-8">
      <Link href="#wasd">Explore More</Link>
    </div>
  </div>

  {
    variant === "right" && (
      <div class="relative hidden h-120 w-1/2 contain-paint sm:block">
        <Fragment set:html={document} />
      </div>
    )
  }
</div>
