---
import clsx from "clsx";
import { parseHTML } from "linkedom";
import Link from "./nav/Link.astro";
import { Pos } from "~/types/variants.ts";

const { title, description, variant } = Astro.props;

const html = await Astro.slots.render("default");
const { document } = parseHTML(html);

document.querySelectorAll("img").forEach((img, _) => {
  img.setAttribute("class", clsx(`object-cover w-full h-full absolute`));
});
---

<div class="mb-40 items-center gap-6 last:mb-0 sm:flex 2xl:gap-9">
  {
    variant === Pos.Left && (
      <div class="relative hidden h-120 w-1/2 rounded-md contain-paint sm:block">
        <Fragment set:html={document} />
      </div>
    )
  }

  <div class="flex-1 sm:w-1/2">
    <h4 class="mb-2 font-serif text-2xl font-semibold">{title}</h4>

    {
      variant === Pos.Right && (
        <div class="-mr-inset relative my-4 ml-7 h-85 rounded-tl-md rounded-bl-md contain-paint sm:hidden">
          <Fragment set:html={document} />
        </div>
      )
    }

    {
      variant === Pos.Left && (
        <div class="-ml-inset relative my-4 mr-7 h-85 rounded-tr-md rounded-br-md contain-paint sm:hidden">
          <Fragment set:html={document} />
        </div>
      )
    }

    <p class="font-sans text-base">
      {description}
    </p>

    <div class="mt-8">
      <Link href="#wasd">Explore More</Link>
    </div>
  </div>

  {
    variant === Pos.Right && (
      <div class="relative hidden h-120 w-1/2 rounded-md contain-paint sm:block">
        <Fragment set:html={document} />
      </div>
    )
  }
</div>
