---
import Container from "./layout/Container.astro";
import SlideImages from "./SlideImages.astro";
import Link from "./nav/Link.astro";
import SlideBtnArray from "./nav/SlideBtnArray.astro";

const { title, description } = Astro.props;
const desktopSlideShowId = crypto.randomUUID();
const mobileSlideShowId = crypto.randomUUID();
---

<main class="relative flex h-svh max-h-220 min-h-180 sm:max-h-350 sm:min-h-210">
  <div
    class="bg-accent absolute z-[-1] hidden h-full w-[calc(var(--spacing-kms))] rounded-br-xl md:block"
  >
  </div>
  <Container
    as="div"
    class="flex items-center gap-6 pt-15 sm:py-0 xl:gap-7 2xl:gap-9"
  >
    <SlideBtnArray
      idx={desktopSlideShowId}
      class="hidden flex-col gap-5 xl:flex"
    >
      <slot />
    </SlideBtnArray>

    <div class="hidden w-[55%] sm:block xl:w-1/2">
      <SlideImages
        id={desktopSlideShowId}
        class="flex h-[60vh] max-h-175 min-h-130 w-full justify-evenly rounded-md contain-paint"
      >
        <slot />
      </SlideImages>
      <SlideBtnArray
        idx={desktopSlideShowId}
        class="mt-inset flex justify-center gap-5 xl:hidden"
      >
        <slot />
      </SlideBtnArray>
    </div>

    <div class="flex-1">
      <h2 class="font-serif text-4xl font-bold text-balance">
        {title}
      </h2>

      <div class="mt-4 sm:hidden">
        <div class="flex">
          <SlideImages
            class="-ml-inset flex h-70 flex-1 rounded-tr-md rounded-br-md contain-paint"
            id={mobileSlideShowId}
          >
            <slot />
          </SlideImages>

          <SlideBtnArray
            class="ml-inset flex flex-col justify-center gap-5 xl:mr-9"
            idx={mobileSlideShowId}
          >
            <slot />
          </SlideBtnArray>
        </div>
      </div>

      <p class="text-bg mt-2 font-sans">
        {description}
      </p>

      <div class="mt-8">
        <Link href="#wasd">Let's Talk</Link>
      </div>
    </div>
  </Container>
</main>
