---
import clsx from "clsx";
import { appendAttrElements, appendAttrElementsIf } from "~/util/processHTML";
import { parseHTML } from "linkedom";

import { Pos } from "~/variants";
import Container from "./layout/Container.astro";
import ContainerTitle from "./layout/ContainerTitle.astro";
import SlideBtnArray from "./nav/SlideBtnArray.astro";

const slideCardId = crypto.randomUUID();
const { title, titlePos = Pos.Left, speed } = Astro.props;

const { document } = parseHTML(await Astro.slots.render("default"));
const cards = document.querySelectorAll("[data-slideshow-card]");
const length = cards.length;

appendAttrElements(
  cards,
  "class",
  "opacity-0 inset-0 pointer-events-none absolute transition-opacity duration-1000 [&.active]:opacity-100 [&.active]:static flex md:h-80 [&.active]:pointer-events-auto",
);

appendAttrElementsIf(
  cards,
  "class",
  "active",
  (_: Element, i: number) => i == 0,
);
---

<Container>
  <ContainerTitle title={title} variant={titlePos} />
  <div
    class={clsx(
      `rounded-md overflow-clip max-w-[var(--right-span)] ml-auto`,
      length > 1 && "flex flex-col xl:flex-row",
    )}
  >
    <div
      class="bg-accent w-full rounded-md"
      id={slideCardId}
      data-slideshow
      data-slideshow-speed={speed}
    >
      <Fragment set:html={document} />
    </div>
    {
      length > 1 && (
        <SlideBtnArray
          length={length}
          idx={slideCardId}
          class="pt-inset xl:pl-inset flex flex-1 flex-row items-center justify-center gap-5 xl:flex-col xl:pt-0"
        />
      )
    }
  </div>
</Container>
