---
import { Icon } from 'astro-icon/components';
import * as Layout from '@/components/Layout';
import Inputs from '@/components/Inputs';

import { createSchema } from 'astro-frontmatter-components';
export const schema = createSchema('Footer', (c: SchemaContext) => ({}));

import socials from '#/socials.json';
import business from '#/business.json';
import type { SchemaContext } from 'astro:content';
---

<Layout.Divider as="footer">
	<Layout.Container
		variant="inner"
		class="border-primary relative z-2 border-t bg-linear-to-b from-transparent via-white/90 to-white py-12 backdrop-blur-xs"
	>
		<div class="flex flex-col items-center gap-6 sm:flex-row sm:justify-between">
			<ul class="flex gap-3">
				{
					socials.map((social) => (
						<li class="contents">
							<a
								target="_blank"
								href={social.url}
								rel="noopener noreferrer"
								aria-label={social.name}
							>
								<Icon
									is:inline
									aria-hidden={true}
									style={`color: #${social.color}`}
									name={social.icon}
									class="size-15 md:size-19"
								/>
							</a>
						</li>
					))
				}
			</ul>

			<Inputs.Search
				variant="xl"
				items={business.areaServed}
				placeholder="Find your municipality"
				client:visible
			/>
		</div>

		<div class="mt-9 flex flex-col items-center gap-2 text-center sm:flex-row sm:justify-between">
			<span class="desc-base"><b>© Strataline. 2025.</b> All rights reserved.</span>

			<ul class="flex gap-6 sm:gap-12">
				<li>
					<a class="desc-base text-cyan-800 hover:underline" data-astro-prefetch href="/privacy"
						>Privacy Policy</a
					>
				</li>
			</ul>
		</div>
	</Layout.Container>
</Layout.Divider>
