---
import { Icon } from 'astro-icon/components';
import * as Layout from '@/components/Layout';
// import Search from '@/components/actions/Search.svelte';

export const schema = (c: SchemaContext) => ({});

import socials from '#/socials.json';
import business from '#/business.json';
---

<Layout.Divider as="footer" spacing="top">
	<Layout.Container
		variant="inner"
		class="border-accent relative z-2 border-t-1 bg-gradient-to-b from-transparent via-white/90 to-white py-12"
	>
		<div class="flex flex-col items-center gap-6 sm:flex-row sm:justify-between">
			<ul class="flex gap-3">
				{
					socials.map((social) => (
						<li class="inline-flex">
							<a
								target="_blank"
								href={social.url}
								rel="noopener noreferrer"
								aria-label={social.name}
							>
								<Icon
									is:inline
									aria-hidden={true}
									style={`color: #${social.color}`}
									name={social.icon}
									class="size-15 md:size-19"
								/>
							</a>
						</li>
					))
				}
			</ul>

			<!-- <Search values={business.areaServed} placeholder="Find your municipality" client:idle /> -->
		</div>

		<div class="sm:gap-inset mt-9 flex flex-col items-center gap-1 text-center sm:flex-row">
			<span class="desc-sm"><b>© Strataline. 2025.</b> All rights reserved.</span>

			<ul class="flex gap-6 sm:ml-auto sm:gap-12">
				<li>
					<a class="desc-sm text-url hover:underline" data-astro-prefetch href="/privacy"
						>Privacy policy</a
					>
				</li>
			</ul>
		</div>
	</Layout.Container>
</Layout.Divider>
