---
import type { SchemaOf } from 'astro-frontmatter-components';
import { type SchemaContext, z } from 'astro:content';
import { DefaultPos } from '@/schemas';

export const schema = (_: SchemaContext) => ({
	id: z.string().optional(),
	pos: DefaultPos,
	title: z.string(),
	content: z.array(
		z.object({
			title: z.string(),
			min: z.number().min(0),
			max: z.number().min(0),
			materials: z.array(z.string()),
			desc: z.string(),
		}),
	),
});

export type Props = SchemaOf<typeof schema>;
const meta = Astro.props as Props;

import * as Layout from '@/components/Layout';

import { Icon } from 'astro-icon/components';
import markdown from '@/backend/markdown';
---

<Layout.Divider id={meta.id}>
	<Layout.Split pos={meta.pos}>
		<div slot="title" class="flex-1">
			<h2 class="top-0 font-serif text-4xl font-bold sm:sticky xl:text-5xl 2xl:text-6xl">
				{meta.title}
			</h2>
		</div>

		<div class="flex-2">
			{
				meta.content.map(async (price, _) => {
					return (
						<div class="border-accent border-t-1 py-7 first:border-t-0 first:pt-0 last:pb-0">
							<div class="flex w-full items-center justify-between gap-4">
								<h3 class="font-serif text-3xl font-semibold">{price.title}</h3>
								<div class="flex items-center gap-3">
									<span class="text-success sm:text-base">${price.min.toLocaleString()}</span>
									<span class="">-</span>
									<span class="text-success sm:text-base">${price.max.toLocaleString()}</span>
								</div>
							</div>

							<p class="desc-base my-4" set:html={await markdown.parseInline(price.desc)} />

							{price.materials.map((s: string) => (
								<div class="mt-2 flex gap-3 align-top">
									<Icon
										aria-hidden={true}
										name="ph:star-four-fill"
										class="text-gold h-auto w-4 sm:w-5"
										aria-hidden="true"
										is:inline
									/>
									<span class="text-base">{s}</span>
								</div>
							))}
						</div>
					);
				})
			}
		</div>
	</Layout.Split>
</Layout.Divider>
