---
import { type SchemaOf, createSchema } from 'astro-frontmatter-components';
import { type SchemaContext, z } from 'astro:content';
import { DefaultPos } from '@/schemas';

export const schema = createSchema('Prices', (_: SchemaContext) => ({
	id: z.string().optional(),
	pos: DefaultPos,
	title: z.string(),
	content: z.array(
		z.object({
			title: z.string(),
			min: z.number().min(0),
			max: z.number().min(0),
			materials: z.array(z.string()),
			desc: z.string(),
		}),
	),
}));

import business from '#/business.json';
export const seo = (prices: Props[]) => {
	return {
		offers: prices.flatMap((prices) =>
			prices.content.map((content) => ({
				'@type': 'Offer',
				name: content.title,
				description: content.desc,
				price: content.min,
				priceCurrency: business['currenciesAccepted'],
				priceSpecification: {
					'@type': 'PriceSpecification',
					minPrice: content.min,
					maxPrice: content.max,
					priceCurrency: business['currenciesAccepted'],
				},
				availability: 'https://schema.org/InStock',
			})),
		),
	};
};

export type Props = SchemaOf<typeof schema>;
const meta = Astro.props as Props;

import * as Layout from '@/components/Layout';

import { Icon } from 'astro-icon/components';
import markdown from '@/build/markdown';
import { cn } from '@/frontend/utils';
---

<Layout.Divider id={meta.id}>
	<Layout.Split pos={meta.pos}>
		<div slot="title" class="flex-2">
			<h2
				class={cn(
					'top-0 font-serif text-4xl font-bold sm:sticky xl:text-5xl 2xl:text-6xl',
					meta.pos == 'right' ? 'md:text-right' : '',
				)}
			>
				{meta.title}
			</h2>
		</div>

		<div class="flex-3">
			{
				meta.content.map(async (price, i) => {
					return (
						<>
							{i != 0 && <hr class="border-primary-dark my-7" />}

							<div class="flex w-full items-center justify-between gap-4">
								<h3 class="font-serif text-3xl font-bold">{price.title}</h3>
								<div class="flex items-center gap-3">
									<span class="text-green-800">${price.min.toLocaleString()}</span>
									<span class="desc-base">-</span>
									<span class="text-green-800">${price.max.toLocaleString()}</span>
								</div>
							</div>

							<p class="desc-base my-4" set:html={await markdown.parseInline(price.desc)} />

							{price.materials.map((s: string) => (
								<div class="mt-2 flex items-center gap-3">
									<Icon
										aria-hidden={true}
										name="ph:star-four-fill"
										class="text-gold size-4 sm:size-5"
										aria-hidden="true"
										is:inline
									/>
									<span class="desc-sm">{s}</span>
								</div>
							))}
						</>
					);
				})
			}
		</div>
	</Layout.Split>
</Layout.Divider>
