---
import Footer from "~/components/nav/Footer.astro";
import TalkMenu from "~/components/nav/TalkMenu.astro";

import { parseHTML } from "linkedom";
import { getImage } from "astro:assets";

import "~/styles/global.css";

const { document } = parseHTML(await Astro.slots.render("default"));
const { faqData, reviewData, index } = Astro.locals;
let {
  title,
  generateSchema,
  description = index.data.description,
} = Astro.props;

if (generateSchema == null) {
  generateSchema = function () {
    return {
      "@context": "https://schema.org",
      "@type": "WebPage",
      name: title,
      url: `${Astro.url.origin}${Astro.url.pathname}`,
      isPartOf: {
        "@type": "WebSite",
        url: Astro.url.origin,
        publisher: {
          "@type": index.data.schema_type,
          "@id": `${Astro.url.origin}#company`,
          name: index.data.business.name,
          address: index.data.business.address,
        },
      },
    };
  };
}

function computeAggregateRating(reviewData: any) {
  const reviewCount = reviewData.length;
  let totalRating = 0;

  reviewData.forEach((review: any) => {
    const rating = parseFloat(review.reviewRating.ratingValue);
    if (!isNaN(rating)) {
      totalRating += rating;
    }
  });

  return {
    "@type": "AggregateRating",
    ratingValue: (totalRating / reviewCount).toFixed(1),
    reviewCount: reviewCount.toString(),
    bestRating: "5",
    worstRating: "1",
  };
}

import favicon from "~/icons/favicon.svg";
// const appleTouchIcon = await getImage({
//   src: favicon,
//   width: 180,
//   height: 180,
//   format: 'png'
// })

const faviconSvg = await getImage({ src: favicon, format: 'svg' })
---

<!doctype html>
<html lang="en" data-safari-bad="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href=`${faviconSvg.src}` />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={Astro.url.href} />
    <script src="../index.ts"></script>
    <!-- PUBLISH: REMOVE BEFORE -->
    <meta name="robots" content="noindex" />
    <slot name="head" />

    <title slot="head">
      {title && `${title} | `}
      {index.data.business.name}
    </title>
    <meta name="description" content={description} />

    {
      generateSchema && (
        <script
          type="application/ld+json"
          set:html={(() => {
            const schema = generateSchema();
            if (reviewData.length > 0) {
              schema.review = reviewData;
              schema.aggregateRating = computeAggregateRating(reviewData);
            }

            return JSON.stringify(schema, null, 2);
          })()}
        />
      )
    }

    {
      faqData.length > 0 && (
        <script
          slot="head"
          type="application/ld+json"
          set:html={JSON.stringify({
            "@context": "https://schema.org",
            "@type": "FAQPage",
            mainEntity: faqData,
          })}
        />
      )
    }
  </head>
  <body>
    <TalkMenu />
    <Fragment set:html={document} />
    <Footer />
  </body>
</html>
