---
import Footer from "~/components/nav/Footer.astro";
import Menus from "~/components/nav/Menus.astro";

import { parseHTML } from "linkedom";
import { config } from "~/config";
import { getImage } from "astro:assets";
import { computeAggregateRating } from "~/lib/schema.astro";
import { pngIcons } from "~/pages/manifest.json.ts";

import "~/styles/global.css";

const { document: mdx } = parseHTML(await Astro.slots.render("default"));
const { document: postMdx } = parseHTML(await Astro.slots.render("post-mdx"));

const { faqData, reviewData, index } = Astro.locals;
let {
  title,
  generateSchema,
  description = index.data.description,
} = Astro.props;

if (generateSchema == null) {
  Astro.locals.schema = {
    t: "WebPage",
    id: crypto.randomUUID(),
  };
  generateSchema = function () {
    return {
      name: title,
      isPartOf: {
        "@type": "WebSite",
        publisher: {
          "@type": config.schema_type,
          "@id": `${Astro.url.origin}#company`,
          name: config.business.name,
          address: config.business.address,
        },
      },
    };
  };
}

import faviconSvgSrc from "/public/favicon.svg";

const faviconSvg = await getImage({ src: faviconSvgSrc, format: "svg" });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title slot="head">
      {title && `${title} | `}
      {config.business.name}
    </title>

    <meta name="description" content={description} />
    <link rel="canonical" href={Astro.url.href} />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href=`${faviconSvg.src}` />
    {
      pngIcons.map((icon: any) => (
        <link rel="apple-touch-icon" sizes={icon.sizes} href={icon.src} />
      ))
    }
    <script src="../index.ts"></script>

    <slot name="head" />

    {
      generateSchema && (
        <script
          type="application/ld+json"
          set:html={(() => {
            const schema = {
              "@context": "https://schema.org",
              "@type": `${Astro.locals.schema.t}`,
              "@id": `${Astro.url.origin}${Astro.url.pathname}#${Astro.locals.schema.id}`,
              url: `${Astro.url.origin}${Astro.url.pathname}`,
              ...generateSchema(),
            };

            if (reviewData.length > 0) {
              schema.aggregateRating = computeAggregateRating(
                Astro,
                reviewData,
              );
              schema.review = reviewData;
            }

            return JSON.stringify(schema, null, 2);
          })()}
        />
      )
    }

    {
      faqData.length > 0 && (
        <script
          slot="head"
          type="application/ld+json"
          set:html={JSON.stringify({
            "@context": "https://schema.org",
            "@type": "FAQPage",
            mainEntity: faqData,
          })}
        />
      )
    }
  </head>
  <body>
    <Menus />
    <Fragment set:html={mdx} />
    <Fragment set:html={postMdx} />
    <Footer />
  </body>
</html>
