---
import global from "~/styles/global.css?url";
import { Font } from "astro:assets";
import Content from "~/build/Content.astro";

interface Props {
  title: string;
  desc: string;
  components?: ComponentData[];
  startPos?: Pos;
  schemas: any[] | any;
}

const { title, desc, startPos, components, schemas: extraSchema = [] } = Astro.props;
const extraSchemas = Array.isArray(extraSchema) ? extraSchema : [extraSchema];

import { stripHtml } from "string-strip-html";
import { marked } from "marked";
import { getImage } from "astro:assets";

import business from "@root/content/business.json";

import faviconSvgSrc from "~/icons/favicon.svg";
const faviconSvg = await getImage({ src: faviconSvgSrc, format: "svg" });

import { pngIcons } from "~/pages/manifest.json.ts";
import type { ComponentData } from "~/build/components";
import type { Pos } from "@sections/styles";
import { queryComponentsByType } from "@sections/registry";
const resolvedIcons = await pngIcons;

const prices = queryComponentsByType(components, "Prices");
const reviews = queryComponentsByType(components, "Reviews");
const faq = queryComponentsByType(components, "Faq");

const schema = {
  "@type": "GeneralContractor",
  "@id": `${Astro.url.origin}#company`,
  "@context": "https://schema.org",
  url: `${Astro.url.origin}${Astro.url.pathname}`,
  ...business,
  ...(reviews.length > 0 && {
    review: reviews.flatMap((review) =>
      review.content.map((content) => ({
        "@type": "Review",
        author: {
          "@type": "Person",
          name: content.title,
        },
        itemReviewed: {
          "@type": "GeneralContractor",
          "@id": `${Astro.url.origin}#company`,
        },
        contentLocation: {
          "@type": "Place",
          name: content.location,
        },
        reviewRating: {
          "@type": "Rating",
          ratingValue: content.stars,
          bestRating: 5,
        },
        reviewBody: marked(content.desc) as string,
        ...(content.date && { datePublished: content.date.toISOString() }),
        ...(content.url && {
          associatedMedia: {
            "@type": "MediaObject",
            associatedArticle: content.url,
          },
        }),
      })),
    ),
    aggregateRating: {
      "@type": "AggregateRating",
      ratingValue: parseFloat(
        (
          reviews
            .flatMap((review) => review.content)
            .reduce((total, content) => total + content.stars, 0) /
          reviews.flatMap((review) => review.content).length
        ).toFixed(1),
      ),
      reviewCount: reviews.length,
      bestRating: 5,
      worstRating: 0,
      itemReviewed: {
        "@type": "GeneralContractor",
        "@id": `${Astro.url.origin}#company`,
      },
    },
  }),
};

if (faq.length > 0) {
  extraSchemas.push({
    "@type": "FAQPage",
    "@context": "https://schema.org",
    mainEntity: faq.flatMap((faq) =>
      faq.content.map((content) => ({
        "@type": "Question",
        name: content.title,
        acceptedAnswer: {
          "@type": "Answer",
          text: stripHtml(marked(content.desc) as string).result,
        },
      })),
    ),
    provider: {
      type: "GeneralContractor",
      "@id": `${Astro.url.origin}#company`,
    },
  });
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title slot="head">
      {title ? `${title} | ${business.name}` : business.name}
    </title>

    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(schema)}
    />

    {
      extraSchemas.map((schema) => (
        <script
          is:inline
          type="application/ld+json"
          set:html={JSON.stringify({
            ...schema,
            provider: {
              "@type": "GeneralContractor",
              "@id": `${Astro.url.origin}#company`,
            },
          })}
        />
      ))
    }

    <meta name="description" content={desc} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href={global} />
    <Font cssVariable="--font-cormorant" />
    <Font cssVariable="--font-dm-sans" />

    <link rel="icon" type="image/svg+xml" href=`${faviconSvg.src}` />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    {
      resolvedIcons.map((icon: any) => (
        <>
          <link rel="apple-touch-icon" sizes={icon.sizes} href={icon.src} />
          <link
            rel="icon"
            type="image/png"
            sizes={icon.sizes}
            href={icon.src}
          />
        </>
      ))
    }

    <script src="~/frontend/index.ts"></script>
  </head>
  <body>
    <slot name="before" />
    <Content startPos={startPos ?? "right"} {components} />
    <slot />
  </body>
</html>
