---
import global from '@/styles/global.css?url';
import { Font } from 'astro:assets';
import business from '#/business.json';
import socials from '#/socials.json';
import { type Pos, isPos, swapPos } from '@/schemas';

import { Frontmatter } from 'astro-frontmatter-components';
import Footer from '@/sections/Footer.astro';

import { queryBlocks, type SchemaMeta } from 'astro-frontmatter-components';
import { schema as reviewSchemas, generate as generateReviews } from '@/sections/Reviews.astro';
import { schema as faqSchemas, generate as generateFaqs } from '@/sections/Faq.astro';
import {
	schema as cardshowSchemas,
	generate as generateCardshows,
} from '@/sections/Cardshow.astro';

const isProd = import.meta.env.PROD;

interface Props {
	title: string;
	desc?: string;
	blocks?: SchemaMeta[];
	startPos?: Pos;
	schemas?: any[] | any;
	noIndex?: boolean;
}

// DYNAMIC IMPORTS AT BOTTOM
const pngIcons = await import('@/pages/manifest.json.ts').then((m) => m.pngIcons);

const { title, desc, startPos, blocks, noIndex = false, schemas: rawSchemas = [] } = Astro.props;
const schemas = [rawSchemas].flat();
let pos = startPos ?? 'right';

const origin = `${Astro.url.origin}#company`;

const reviews = queryBlocks(blocks, reviewSchemas);
const schema = {
	'@id': `${Astro.url.origin}#company`,
	'@context': 'https://schema.org',
	url: `${Astro.url.origin}${Astro.url.pathname.replace(/\.html$/, '')}`,
	...business,
	sameAs: [...business.sameAs, ...socials.map((social) => social.url)],
};

if (reviews.length > 0) {
	schemas.push(await generateReviews(origin, reviews));
}

const faqs = queryBlocks(blocks, faqSchemas);
if (faqs.length > 0) {
	schemas.push(await generateFaqs(origin, faqs));
}

const cardshow = queryBlocks(blocks, cardshowSchemas);
if (cardshow.length > 0) {
	// WARNING: DO NOT move import.meta.env.YOUTUBE_API_KEY without thinking carefuly
	// it can easily leak here, this is kinda stupid
	schemas.push(await generateCardshows(import.meta.env.YOUTUBE_API_KEY, cardshow));
}
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		{noIndex && <meta name="robots" content="noindex, nofollow" />}

		<title>
			{title ? `${title} | ${business.name}` : business.name}
		</title>

		<link rel="canonical" href={schema.url} />
		<meta name="description" content={desc} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href={global} />
		<Font cssVariable="--font-cormorant" />
		<Font cssVariable="--font-dm-sans" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="manifest" href="/manifest.json" />
		{
			pngIcons.map((icon: any) => (
				<>
					<link rel="apple-touch-icon" sizes={icon.sizes} href={icon.src} />
					<link rel="icon" type="image/png" sizes={icon.sizes} href={icon.src} />
				</>
			))
		}

		<script src="@/frontend/index.ts"></script>
		<script is:inline type="application/ld+json" set:html={JSON.stringify(schema)} />

		{
			schemas.map((schema) => (
				<script
					is:inline
					type="application/ld+json"
					set:html={JSON.stringify({
						'@context': 'https://schema.org',
						...schema,
					})}
				/>
			))
		}

		{
			isProd && (
				<script
					is:inline
					src="https://analytics.ahrefs.com/analytics.js"
					data-key="HvLQm3PHR0ElL+Vu8t6KBg"
					async
				/>
			)
		}
	</head>
	<body>
		<slot />
		<Frontmatter
			callback={(data, i) => {
				if (isPos(data.pos)) {
					data.pos = pos;
					pos = swapPos(pos);
				}

				if (i == 0) {
					if (data.id == undefined) {
						data.id = `${data.id} intro`;
					} else {
						data.id = 'intro';
					}
				}
			}}
			{blocks}
		/>
		<Footer />
	</body>
</html>
