---
import clsx from "clsx";
import { getCollection } from "astro:content";

import Container, { ContainerVariant } from "~/components/div/Container.astro";
import { Icon } from "astro-icon/components";

const mobileMenu = crypto.randomUUID();
const servicesDesktopMenu = crypto.randomUUID();
const servicesMobileMenu = crypto.randomUUID();

const serviceData = await getCollection("services");

interface NavItem {
  id: string;
  name: string;
}

interface Props {
  items: NavItem[];
  sticky: boolean;
}

export enum HeaderVariant {
  Absolute,
  Fixed,
}

export const headerMap = {
  [HeaderVariant.Absolute]: "absolute py-4 sm:py-6",
  [HeaderVariant.Fixed]: "fixed backdrop-blur-[5rem] py-5",
};

const { items = [{}], variant = HeaderVariant.Absolute } = Astro.props as Props;
const isTop = variant === HeaderVariant.Fixed;
---

<div
  data-safari-bad="duration-300"
  class="pointer-events-none fixed inset-0 z-10 flex bg-white -translate-x-full overflow-scroll xl:hidden [&.active]:pointer-events-auto [&.active]:translate-x-0"
  id={mobileMenu}
>
  <ul class="m-auto flex w-full max-w-200 flex-col gap-6 py-30 pl-5">
    {
      items.length !== 0
        ? items.map((item) => (
            <li>
              <a
                href={`#${item.id}`}
                onclick={`toggleMenu('${mobileMenu}', '${
                  variant === "absolute" || variant === "sticky" ? true : false
                }')`}
                class="font-sans text-xl"
              >
                {item.name}
              </a>
            </li>
          ))
        : null
    }

    <li>
      <button
        class="flex cursor-pointer items-center"
        onclick={`toggleDropdown(this)`}
        aria-label="Open services menu"
      >
        <span class="font-sans text-xl">Services </span>
        <Icon name="ph:caret-down-fill" class="ml-2 w-5" />
      </button>

      <div id={servicesMobileMenu} class="hidden duration-500 [&.active]:block">
        <ul class="bg-tone my-5 mr-5 flex flex-col gap-8 rounded-sm p-5">
          {
            serviceData.map((service: any, _) => (
              <li>
                <a href={`/services/${service.slug}`} class="font-sans text-xl">
                  {service.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </li>
  </ul>
</div>

<header class={clsx(`w-full z-10 top-0`, headerMap[variant])}>
  {
    isTop && (
      <div class="absolute inset-0 z-[-1] bg-white opacity-70 mix-blend-screen" />
    )
  }

  <Container
    as="div"
    variant={ContainerVariant.Inner}
    class="flex items-center justify-between rounded-sm"
  >
    <Icon name="logo" class="h-auto w-33 sm:-translate-y-[0.6rem] sm:w-44 xl:w-50" />

    <nav>
      <ul class="hidden gap-12 xl:flex">
        {
          items.length !== 0
            ? items.map((item) => (
                <li>
                  <a href={`#${item.id}`} class="font-sans text-base">
                    {item.name}
                  </a>
                </li>
              ))
            : null
        }
        <li>
          <button
            class="flex cursor-pointer items-center"
            onclick={`toggleDropdown(this)`}
            aria-label="Open services menu"
          >
            <span class="font-sans text-base">Services</span>
            <Icon name="ph:caret-down-fill" class="ml-2 w-4" />
          </button>

          <div
            id={servicesDesktopMenu}
            data-safari-bad="duration-200"
            class="px-inset max-w-inner pointer-events-none absolute top-full left-1/2 w-full -translate-x-1/2 -translate-y-10 opacity-0 [&.active]:pointer-events-auto [&.active]:translate-y-0 [&.active]:opacity-100"
          >
            <ul
              class="bg-tone p-inset gap-inset flex flex-wrap justify-evenly rounded-sm"
            >
              {
                serviceData.map((service: any, _) => (
                  <li>
                    <a
                      href={`/services/${service.slug}`}
                      class="font-sans text-base"
                    >
                      {service.data.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </li>
      </ul>
      <div class="xl:hidden">
        <button
          aria-label="Open mobile menu button"
          data-idx={mobileMenu}
          onclick={`toggleMenu('${mobileMenu}', '${isTop}')`}
          class="burger h-9 w-9 cursor-pointer"></button>
      </div>
    </nav>
  </Container>
</header>

<style lang="scss">
  .burger {
    position: relative;
    display: flex;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      background: var(--color-black);
      height: 2px;
      transform-origin: center;
      transition:
        transform 250ms ease,
        left 250ms ease;
    }

    &::before {
      transform: translateY(-7px);
    }

    &::after {
      transform: translateY(7px);
      left: 30%;
    }

    &.active {
      &::after {
        transform: rotate(45deg);
        left: 0;
      }

      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  a {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -0.4rem;
      right: 10%;
      left: 10%;
      transform: scaleX(0);
      height: 1px;
      background: var(--color-black);
      transition: transform 200ms ease-in-out;
      opacity: 0.5;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
</style>
