---
import { Icon } from "astro-icon/components";
const { title, id, ...slot } = Astro.props;
---

<div
  data-safari-bad="duration-500"
  id={id}
  class="fixed inset-0 z-50 flex overflow-scroll bg-white opacity-0 sm:bg-transparent sm:backdrop-blur-[5rem] [&.active]:opacity-100"
  data-form-menu
  onclick={`if (event.target === event.currentTarget) { toggleMenu('${id}') }`}
  inert
>
  <div
    class="px-inset relative m-auto w-full max-w-120 rounded-sm bg-white py-12 sm:px-10"
  >
    <div class="mb-8 flex items-center justify-between sm:mb-10">
      <h2 class="font-serif text-3xl font-bold">{title}</h2>
      <button
        class="bg-tone cursor-pointer rounded-[50%] p-2"
        onclick={`toggleMenu('${id}')`}
        aria-label="Close menu"
      >
        <Icon name="ph:x-bold" class="h-auto w-7 rounded-[50%] lg:w-11" />
      </button>
    </div>

    <form
      class="space-y-8 sm:space-y-10"
      enctype="multipart/form-data"
      method="post"
      action="/submissions/contact"
      netlify
      {...slot}
    >
      <slot />
    </form>
  </div>
</div>

<script>
  // @ts-check
  document.querySelectorAll("[data-form-menu]").forEach((form: HTMLElement) => {
    form
      .querySelectorAll(`[type="file"]`)
      .forEach((photos: HTMLInputElement) => {
        let textFile = photos.nextElementSibling?.querySelector("span");
        if (textFile != null) {
          photos.addEventListener("change", function () {
            if (photos.files.length > 0) {
              textFile.textContent = `${photos.files.length} photo(s) selected`;
            } else {
              textFile.textContent = "No file selected.";
            }
          });
        }
      });

    form
      .querySelectorAll(`[inputmode="tel"]`)
      .forEach((tel: HTMLInputElement) => {
        tel.addEventListener("input", function () {
          let newValue = tel.value.replace(/\D/g, "");
          let pos = tel.selectionStart || 0;

          if (newValue.length == 4 || newValue.length == 7) {
            pos += 3;
          }

          if (newValue.length > 3 && newValue.length <= 6) {
            newValue = `(${newValue.slice(0, 3)}) ${newValue.slice(3)}`;
          } else if (newValue.length > 6) {
            newValue = `(${newValue.slice(0, 3)}) ${newValue.slice(3, 6)}-${newValue.slice(6, 10)}`;
          }

          tel.value = newValue;
          tel.setSelectionRange(pos, pos);
        });
      });

    form
      .querySelectorAll(`[data-location]`)
      .forEach((location: HTMLElement) => {
        const select = document.querySelector("select");
        select.addEventListener("change", function () {
          const selectedLocation = select.options[location.selectedIndex].text;
          const locationSpan =
            location.nextElementSibling?.querySelector("span");

          if (locationSpan != null && selectedLocation) {
            locationSpan.textContent = selectedLocation;
          }
        });
      });
  });
</script>
