---
import { parseHTML } from "linkedom";
import { flexImages } from "~/lib/processHTML";
import Button from "~/components/inputs/Button.astro";
import { Pos } from "~/components/variants.ts";

const { data, variant = Astro.locals.getNextSwap(), slug, ...slot } = Astro.props;

const html = await Astro.slots.render("default");
const { document } = parseHTML(html);

flexImages(document.querySelectorAll("img"));
---

<div
  class="mb-25 items-center gap-6 last:mb-0 sm:mb-28 sm:flex xl:gap-7 2xl:gap-9"
  id={slug}
  {...slot}
>
  {
    variant === Pos.Left && (
      <div class="hidden h-120 w-1/2 justify-center rounded-sm contain-paint sm:flex">
        <Fragment set:html={document} />
      </div>
    )
  }

  <div class="flex-1">
    <h3 class="mb-1 font-serif text-3xl font-semibold">{data.title}</h3>

    {
      variant === Pos.Right && (
        <div class="-mr-inset my-4 ml-7 flex h-65 justify-center rounded-tl-sm rounded-bl-sm contain-paint sm:hidden">
          <Fragment set:html={document} />
        </div>
      )
    }

    {
      variant === Pos.Left && (
        <div class="-ml-inset my-4 mr-7 flex h-65 justify-center rounded-tr-sm rounded-br-sm contain-paint sm:hidden">
          <Fragment set:html={document} />
        </div>
      )
    }

    <p class="font-sans text-base">
      {data.description}
    </p>

    <div class="mt-8">
      <Button href=`/services/${slug}` data-astro-prefetch>Explore More</Button>
    </div>
  </div>

  {
    variant === Pos.Right && (
      <div class="hidden h-120 w-1/2 justify-center rounded-sm contain-paint sm:flex">
        <Fragment set:html={document} />
      </div>
    )
  }
</div>
