---
import clsx from "clsx";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const [index] = await getCollection("index");
const { imageClass, ...slot } = Astro.props;
---

<ul {...slot}>
  {
    index.data.local_business.sameAs &&
      index.data.local_business.sameAs.map(
        (media: any) =>
          media.social && (
            <li>
              <a
                target="_blank"
                href={media.url}
                rel="noopener noreferrer"
                aria-label={`${media.social.name} Link`}
              >
                <Icon
                  style={`color: #${media.social.color}`}
                  name={`${media.social.icon}`}
                  class={clsx(imageClass)}
                />
              </a>
            </li>
          ),
      )
  }
</ul>
